#molstar-wrapper {
    width   : 100%;
    height  : 100%;
    position: relative;
}


.msp-sequence-wrapper-non-empty{
    background: black;
    color: aqua;
}
.msp-sequence-select{

    background: black;
}
.msp-plugin .msp-sequence-select > select {
  background-color: #fff;
}
.msp-plugin .msp-sequence-select {
  background: #fff;
}
.msp-plugin .msp-sequence-wrapper-non-empty {
  background: #fff;
}